.DS_Store
*.o
*~
.sconsign.dblite
*.pyc

Physika_Src/**/*.obj
Physika_Test/**/*_test.obj
Physika_Test/**/*_test
Physika_Test/google_test/src/*.obj
Physika_Test/**/*.dll

_CL_*

*.sln
*.vcxproj
*.filters
*.user
*.VC.db
*.VC.opendb
*.exe
*.ilk
*.pdb
*.vs/
*.cd

Physika_Test/debug
debug/

Physika_Test/Physika_Test_Src/Physika_Non_Unit_Test_Src/Physika_Render/render_demo.obj
Public_Library/lib/release/Physika_Core.lib
Public_Library/lib/release/Physika_Dynamics.lib
Public_Library/lib/release/Physika_GUI.lib
Public_Library/lib/release/Physika_Geometry.lib
Public_Library/lib/release/Physika_IO.lib
Public_Library/lib/release/Physika_Numerics.lib
Public_Library/lib/release/Physika_Render.lib
Public_Library/lib/release/Physika_Framework.lib
Public_Library/lib/release/cudart32_91.dll
*.log
*.cache
*.deps
*.lastbuildstate
*.tlog
*.iobj
*.ipdb

AutoBuild/*
build/*
buildDebug/*
.vscode/*

Build/x64/Release/Physika_Core.lib
Build/x64/Release/cudart32_91.dll
Build/x64/Release/cudart64_91.dll
Build/App_Test/console_log.txt
Build/x64/Release/console_log.txt
Build/x64/Release/App_Test

Build/App_Test/screen_capture_7.png
Build/App_Test/screen_capture_6.png
Build/App_Test/screen_capture_5.png
Build/App_Test/screen_capture_4.png
Build/App_Test/screen_capture_3.png
Build/App_Test/screen_capture_2.png
Build/App_Test/screen_capture_1.png
Build/App_Test/screen_capture_0.png
Build/App_QtGUI/release/moc_mainwindow.cpp
Build/App_QtGUI/release/moc_QLichtWidget.cpp
Build/App_QtGUI/release/moc_DockWidget.cpp
Build/App_QtGUI/release/moc_toolbar.cpp

*.bin
*.ipch
/docs
/console_log.txt
.ccls-cache
.cache
compile_commands.json