.DS_Store
*.o
*~
.sconsign.dblite
*.pyc

Physika_Src/**/*.obj
Physika_Test/**/*_test.obj
Physika_Test/**/*_test
Physika_Test/google_test/src/*.obj
Physika_Test/**/*.dll

_CL_*

*.sln
*.vcxproj
*.filters
*.user
*.VC.db
*.VC.opendb
*.exe
*.ilk
*.pdb
*.vs/
*.cd

Physika_Test/debug
debug/

